.card {
  border-style: solid;
  border-width: thick;
  border-color: blue brown purple teal;
}
.navbar {
  border-style: dotted;
  border-color: white;
  font-style: italic;
  font-size: xx-large;
  background-color: darkorange;
}
.logo {
  position: absolute;
  top: 5x;
  left: 150px;
  width: 50px;
}
.footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}
